body {
  background-color: $color-background;
  color: $color-primary;
  font-family: 'Lato'
}

.container {
  width: 80%;
  margin: auto;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-size: 13px;
  margin: 10px;
  font-style: italic;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  width: 20px; height: 20px;
}
