.task-input input {
  width: 100%;
}

.task-input {
  margin: 0 10px 0 5px;
}

.task-name {
  flex-grow: 1;
}

.task-card {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  padding: 5px;
  & > * {
    margin: 0 5px;
  }
}
